.up
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.bc
{
    font-size: 14px;
}px
.myf
{
    height: 30px;
}
#name
{
    margin-right: auto;
}


body
{
    display: flex;
    flex-direction: column;
    padding-top: 68pt;
    padding-right: 80pt;
    padding-left: 80pt;
    
}
.studentdata
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-data
{
    display: grid;
    width: fit-content;
    grid-template-columns: 120px 350px 120px 350px;
    grid-template-rows: 70px 70px 70px 70px 70px 70px 70px 70px;
    font-size: 15px;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid black;
}
#firstname
{
    grid-column: 1;
    grid-row: 4;
    padding-top: 20px;
    padding-bottom: 20px;
}
#adress
{
    grid-column: 1;
    grid-row: 7;
    padding-top: 20px;
    padding-bottom: 20px;
}
#add
{
    grid-column: 2 /3 ;
    width: 805px;
    grid-row: 7;
    padding-top: 20px;
    padding-bottom: 20px;
}
#mothersname
{
    grid-column: 1;
    grid-row: 8;
    padding-top: 20px;
    padding-bottom: 20px;
}
#fathersname
{
    grid-column: 1;
    grid-row: 9;
    padding-top: 20px;
    padding-bottom: 20px;
}
#mothercontact
{
    grid-column: 3;
    grid-row: 8;
    padding-top: 20px;
    padding-bottom: 20px;
}
#mcno
{
    grid-row: 8;
    grid-column: 4;
    padding-top: 20px;
    padding-bottom: 20px;
}
#ftcno
{
    grid-row: 9;
    grid-column: 4;
    padding-top: 20px;
    padding-bottom: 20px;
}
#fathercontact
{
    grid-column: 3;
    grid-row: 9;
    padding-top: 20px;
    padding-bottom: 20px;
}
#ftname
{
    grid-column: 2;
    grid-row: 9;
    padding-top: 20px;
    padding-bottom: 20px;
}
#mname
{
    grid-row: 8;
    grid-column: 2;
    padding-top: 20px;
    padding-bottom: 20px;
}
#fname
{
    grid-column: 2;
    grid-row: 4;
    padding-top: 20px;
    padding-bottom: 20px;
}
#lname
{
    grid-column: 4;
    grid-row: 4;
    padding-top: 20px;
    padding-bottom: 20px;
}
#iage
{
    grid-column: 2;
    grid-row: 6;
    padding-top: 20px;
    padding-bottom: 20px;
}
#dob
{
    grid-column: 2;
    grid-row: 5;
    padding-top: 20px;
    padding-bottom: 20px;
}
#doa
{
    grid-column: 4;
    grid-row: 5;
    padding-top: 20px;
    padding-bottom: 20px;
}
#grade
{
    grid-column: 4;
    grid-row: 6;
    padding-top: 20px;
    padding-bottom: 20px;

}
#lastname
{
    grid-column: 3;
    grid-row: 4;
    padding-top: 20px;
    padding-bottom: 20px;
}
.stddata
{
    display: flex;
    height: 25pt;
    width: 250pt;
    border: 1px solid black;
    padding: 20px;
    border-radius: 8px;
}
#age
{
    grid-column: 1;
    grid-row: 6;
    padding-top: 20px;
    padding-bottom: 20px;
}

#dateofbirth
{
    grid-column: 1;
    grid-row: 5;
    padding-top: 20px;
    padding-bottom: 20px;
}
.box
{
    display: flex;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 5;
    justify-content: center;
    align-items: center;
}
#img
{
    width:180px;
    height: 180px;
    border-radius: 10px;
}
#dateofadmission
{
    grid-column: 3;
    grid-row: 5;
    padding-top: 20px;
    padding-bottom: 20px;
}
#currentgrade
{
    grid-column: 3;
    grid-row: 6;
    padding-top: 20px;
    padding-bottom: 20px;
}
#update
{
    border: 2px solid blue;
    color:white;
    background-color: blue;
    width: 200pt;
    border-radius: 10px;
    height: 30pt;
    transition: 0.3s;
}
#update:hover
{
    background-color: darkblue;
}
#update:active
{
    border-color: blue;
    background-color: transparent;
    color: blue;
}
#noupdate:hover
{
    background-color: red;
    color: white;
}
#noupdate
{
    border: 2px solid red;
    color: red;
    background-color: transparent;
    width: 200pt;
    border-radius: 10px;
    height: 30pt;
    transition: 0.3s;
}
#noupdate:active
{
    background-color: transparent;
    color: red;
    border-color: red;
}
.pg
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    background-color: transparent;
}
.fotcol
{
    width: 831pt;
}
@media (max-width: 300px)
{
    body
    {
        flex-wrap: wrap;
    }
}